html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  }

  .wrapper {
    flex: 1 0 auto;
  }

.submit-button{
  background-color: gray;
}

#greeting{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
.navbar-toggler {
  display: none;
  position: absolute;
  right: 0px;
  z-index: 2;
}


#image{
    width: 300px;
    
}

#aboutme {
    justify-content: center;
}

.portfolioRow div {
    margin: 10px;
}

.navbar {
    background-color: #4aaaa5;
}